*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

.navbar{
    background-color:purple;
} 

.nav-link {
    color: #fff !important; 
} 

img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    flex-basis: 25%;
}
/* .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
} */

.users-container{
    background-color: aquamarine !important;
    /* width: 40px;
    height: 40px;
    border-radius: 50px; */
    margin-right: 10px;
}

.content-wrapper {
    border-radius: 3px;
}

.chat-container {
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
}

.selected.user {
    background-color: chocolate ;
}

.chat-right {
    text-align: right;
}

.chat-search-box{
    padding: 10px;
    background-color: blue;
    border: 1px solid black;

}
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.person:last-child {
    border-bottom: none;
}